h1, .h1 {
  font-size: 36px;
}
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}