<script type="text/javascript">var addthis_config = {"data_track_addressbar":true, templates: {twitter: '{{title}} {{url}} via @ggrgur'}};</script>
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_button_linkedin_counter"></a>
</div>

<div id="disqus_thread"></div>
 <a href="http://disqus.com" class="dsq-brlink" rel="nofollow">comments powered by <span class="logo-disqus">Disqus</span></a>
<div class="row text-center">
    <a href="{{ site.linkedin }}">{{ site.author }}</a> | <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a> | <a href="http://github.com/{{ site.github }}">Github: {{ site.github }}</a>
  </ul>
</div>