<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Native Development</a>
        <ul class="dropdown">
          <li><label>General</label></li>
          <li><a href="{{ site.baseurl }}/native/adding_cordova_plugins.html">Adding Cordova Plugins</a></li>
          <li><a href="{{ site.baseurl }}/native/barcodescanner.html">Barcode Scanner</a></li>
          <li><a href="{{ site.baseurl }}/native/changing_application_id.html">Changing App ID</a></li>
          <li><a href="{{ site.baseurl }}/native/debugging_js.html">Debugging Native Builds</a></li>
          <li><a href="{{ site.baseurl }}/native/ignores.html">Setting .gitignore</a></li>
          <li class="divider"></li>
          <li><label>iOS</label></li>
          <li><a href="{{ site.baseurl }}/native/ios/creating_ipa.html">Automatic IPA Generation</a></li>
          <li class="divider"></li>
          <li><label>Android</label></li>
          <li><a href="{{ site.baseurl }}/native/android/building_release.html">Building for Release</a></li>
          <li><a href="{{ site.baseurl }}/native/android/build_and_deploy.html">Build and Deploy</a></li>
          <li><a href="{{ site.baseurl }}/native/android/debugging_kitkat.html">Debugging KitKat+ (4.4+)</a></li>
          <li><a href="{{ site.baseurl }}/native/android/debugging.html">Debugging older (<=4.3)</a></li>
          <li><a href="{{ site.baseurl }}/native/android/adb_path.html">Adb Path Errors</a></li>
        </ul>
      </li>

      <!-- <li class="has-dropdown">
        <a href="#">iOS</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/native/ios/creating_ipa.html">Automatic IPA Generation</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Android</a>
        <ul class="dropdown">
          <li><a href="{{ site.baseurl }}/native/android/building_release.html">Building for Release</a></li>
          <li><a href="{{ site.baseurl }}/native/android/build_and_deploy.html">Build and Deploy</a></li>
          <li><a href="{{ site.baseurl }}/native/android/debugging_kitkat.html">Debugging KitKat+ (4.4+)</a></li>
          <li><a href="{{ site.baseurl }}/native/android/debugging.html">Debugging older (<=4.3)</a></li>
          <li><a href="{{ site.baseurl }}/native/android/adb_path.html">Adb Path Errors</a></li>
        </ul>
      </li> -->
    </ul>

  </section>
</nav>